:root {
  --font-principal: Montserrat, sans-serif;
  --font-logo: Paytone One, sans-serif;
  --azul-claro: #209CBD;
  --azul-medio: #1F8FAD;
  --azul-escuro: #2D7BAA;
  --branco-azulado: #F8FCFF;
}

body{
  display: flex;
  justify-content: center;
  background-color: var(--branco-azulado);
  font-family: var(--font-principal);
}
.header img{
  height: 50px;
  margin-top: 50px;
}
main{
  display: flex;
  align-items: center;
  gap: 160px;
  margin-top: 65px;
}
.div1 h2{
  color: #1F8FAD;
  font-size: 34px;
  font-weight: 600;
  width: 550px;
}
.div1 button{
  font-family: var(--font-principal);
  font-size: 18px;
  padding: 1.2em 4rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 30px;
  text-shadow: 2px 2px 3px rgba(7, 153, 211, 0.5);
  background-image: linear-gradient(to right, #26ADBF, #2D7BAA, #26ADBF);
  background-size: 200%;
  color: var(--branco-azulado);
  border: none;

  box-shadow: 0 30px 10px -20px rgba(0,0,0,.2);
  transition: background .3s ease;
}
button:hover {
  background-size: 320%;
  background-position: right center;
}
.div2 img{
  height: 350px;
}
@media only screen and (max-width: 1116px){
  main{
    gap: 40px;
  }
  .div1 h2{
    font-size: 30px;
  }
  .div1 button{
    font-size: 18px;
    padding: 1em 3rem;
  }
  .div2 img{
    height: 300px;
  }
  .header img{
    height: 45px;
  }
}
@media only screen and (max-width: 930px){
  main{
    gap: 40px;
  }
  .div1 h2{
    font-size: 26px;
    width: 426px;
  }
  .div1 button{
    font-size: 16px;
    padding: 1em 3rem;
  }
  .div2 img{
    height: 250px;
  }
  .header img{
    height: 40px;
  }
}
@media only screen and (max-width: 752px){
  main{
    gap: 40px;
  }
  .div1 h2{
    font-size: 24px;
    width: 388px;
  }
  .div1 button{
    font-size: 16px;
    padding: 1em 3rem;
  }
  .div2 img{
    height: 250px;
  }
  .header img{
    height: 40px;
  }
}
@media only screen and (max-width: 694px){
  main{
    gap: 40px;
  }
  .div1 h2{
    font-size: 22px;
    width: 270px;
  }
  .div1 button{
    font-size: 16px;
    padding: 1em 3rem;
  }
  .div2 img{
    height: 200px;
  }
  .header img{
    height: 40px;
  }
}

@media screen and (max-width: 554px){
  main{
    flex-direction: column;
    gap: 40px;
  }
  .div1 h2{
    text-align: center;
    font-size: 20px;
    width: 378px;

  }
  .div1 button{
    font-size: 15px;
    padding: 0.8em 2rem;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  a{
    text-decoration: none;
  }
  .div2 img{
    height: 240px;
  }
  .header img{
    display: block;
    margin: 0 auto;
    margin-top: 49px;
    height: 40px;
  }
}
