:root {
  --font-principal: Montserrat, sans-serif;
  --font-logo: Paytone One, sans-serif;
  --azul-claro: #26ADBF;
  --azul-medio: #1F8FAD;
  --azul-escuro: #18809C;
  --branco-azulado: #F8FCFF;
  --preto-azulado: #192329;
}

body {
  background-color: var(--branco-azulado);
  font-family: var(--font-principal);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button {
  font-family: var(--font-principal);
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  font-weight: 600;
  color: var(--branco-azulado);
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, .2);
  background-color: var(--azul-claro);
  padding: 20px 30px;
}

button:hover {
  background-color: var(--azul-medio);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin-top: 50px;
}

.header img {
  height: 50px;
}

.header a {
  text-decoration: none;
  color: #1f8fad;
  font-weight: 600;
  font-size: 20px;
}
.headerLink{
  display: flex;
  gap: 10px;
}
.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 65px;
}

.div1 h2 {
  color: var(--azul-escuro);
  font-size: 34px;
  font-weight: 500;
  margin: 15px;
}

.div1 button {
  transition: background .3s ease;
  margin: 15px;
}

.div2 img {
  height: 350px;
  margin: 10px;
}

.cardBackground {
  position: relative;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  padding: 50px 0;
  background-color: var(--azul-medio);
  margin-top: 50px;
}

.cardContent {
  margin: 0 auto;
  text-align: center;
}

.cardContent h2 {
  color: var(--branco-azulado);
  font-size: 30px;
  margin: 10px;
}

.venderParagrafo {
  color: var(--branco-azulado);
  font-size: 22px;
  margin: 20px 10px;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card {
  margin-top: 25px;
  background-color: var(--branco-azulado);
  padding: 40px 20px 40px 25px;
  border-radius: 10px;
}

.cardParagrafo {
  width: 450px;
}

.card h3,
p {
  color: var(--preto-azulado);
}

.sobreContainer {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.sobreTexto {
  color: var(--preto-azulado);
}

.sobreTexto h2 {
  font-size: 30px;
  font-weight: 900;
  margin: 15px;
}

.sobreTexto p {
  font-size: 22px;
  margin: 15px;
}

.sobreContainer img {
  width: 500px;
  border-radius: 5px;
  box-shadow: 10px 10px 0px 0px #26ADBF;
  margin: 15px;
}

.sobreTexto button {
  padding: 18px 25px;
  font-size: 19px;
  transition: background .3s ease;
  margin: 15px;
}

.footerBackground {
  position: relative;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  padding: 50px 0;
  background-color: var(--azul-escuro);
  margin-top: 50px;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footerLogo img {
  height: 45px;
}

.footerLogo p {
  color: var(--branco-azulado);
  font-size: 22px;
  margin: 0;
  margin-top: 10px;
}

.footerPolitica a {
  display: flex;
  margin-bottom: 20px;
  font-size: 19px;
  text-decoration: none;
  color: var(--branco-azulado);
}
.footerMarca span{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0;
  color: var(--branco-azulado);
  text-align: center;
  font-size: 14px;
}
.politicaContainer{
  margin-top: 20px;
  max-width: 750px;
  margin: 40px auto;
  padding: 20px;
  color: var(--preto-azulado);
}
.politicaContainer h3{
  color: var(--azul-medio);
  font-size: 20px;
}
.politicaContainer h2{
  color: var(--azul-medio);
  font-size: 30px;
}
.politicaContainer p{
  text-align: justify;
  font-size: 17px;
}


@media only screen and (max-width: 1116px) {
  header {
    gap: 155px;
  }

  .header img {
    height: 45px;
  }

  .div1 h2 {
    font-size: 30px;
  }

  .div2 img {
    height: 305px;
  }

  button {
    font-size: 18px;
    padding: 16px 30px;
  }

  .sobreTexto button {
    padding: 16px 25px;
    font-size: 18px;
  }

  .cardContent h2 {
    font-size: 28px;
  }

  .card {
    padding: 28px 18px;
  }

  .cardParagrafo {
    width: 375px;
  }

  .venderParagrafo {
    font-size: 20px;
  }

  .sobreTexto h2 {
    font-size: 28px;
  }

  .sobreTexto p {
    font-size: 20px;
  }

  .sobreContainer img {
    width: 418px;
  }

  .footerLogo img {
    height: 40px;
  }

  .footerLogo p {
    font-size: 19px;
  }
}

@media only screen and (max-width: 968px) {
  header {
    gap: 116px;
  }

  .header img {
    height: 40px;
  }

  .mainContainer {
    gap: 13px;
  }

  .div1 h2 {
    font-size: 28px;
  }

  .div2 img {
    height: 286px;
  }

  .venderParagrafo {
    font-size: 19px;
  }

  .card {
    padding: 18px;
  }

  .cardBackground {
    padding: 30px 10px;
  }

  .cardParagrafo {
    width: 350px;
  }

  .sobreTexto p {
    font-size: 19px;
  }

  .sobreContainer img {
    width: 390px;
  }

  button {
    font-size: 17px;
  }

  .sobreTexto button {
    font-size: 17px;
  }

  .footerBackground {
    padding: 50px 10px;
  }

  .footerLogo img {
    height: 38px;
  }
}

@media only screen and (max-width: 834px) {
  header {
    gap: 85px;
  }

  .div1 h2 {
    font-size: 26px;
  }

  .div2 img {
    height: 270px;
  }

  .mainContainer {
    gap: 38px;
  }

  .cardContent h2 {
    font-size: 26px;
  }

  .venderParagrafo {
    font-size: 18px;
  }

  .cardParagrafo {
    font-size: 15px;
    width: 315px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card {
    padding: 12px;
  }

  .sobreTexto h2 {
    font-size: 26px;
  }

  .sobreTexto p {
    font-size: 18px;
  }

  .sobreContainer img {
    width: 343px;
  }

  .sobreContainer {
    gap: 36px;
  }

  .footerLogo img {
    height: 36px;
  }

  .footerContainer {
    gap: 165px;
  }
}

@media only screen and (max-width: 814px) {
  .header img {
    height: 36px;
  }

  .mainContainer {
    gap: 11px;
  }

  .div2 img {
    height: 260px;
  }
}

@media only screen and (max-width: 771px) {
  header {
    gap: 70px;
  }

  .mainContainer {
    gap: 10px;
  }

  .div1 h2 {
    font-size: 25px;
  }

  .div2 img {
    height: 220px;
  }

  .button {
    padding: 15px 28px;
    font-size: 16px;
  }

  .cardContent h2 {
    font-size: 25px;
  }

  .venderParagrafo {
    font-size: 17px;
  }

  .sobreTexto h2 {
    font-size: 25px;
  }


  .sobreContainer {
    gap: 15px;
  }
}

@media only screen and (max-width: 705px) {
  header {
    gap: 45px;
  }

  .sobreTexto button {
    font-size: 16px;
    padding: 14px 23px;
  }

  .sobreContainer {
    gap: 11px;
  }

  .sobreContainer img {
    width: 287px;
  }

  .card {
    padding: 5px;
  }

  .cardParagrafo {
    width: 287px;
  }


  .footerContainer {
    gap: 115px;
  }
}

@media screen and (max-width: 659px) {
  header{
    gap: 20px;
  }
}

@media screen and (max-width: 573px) {
  .header a{
    display: none;
  }
  .header img{
    display: block;
    height: 43px;
  }
  .mainContainer{
    flex-direction: column-reverse;
    text-align: center;
  }
  .div2 img{
    margin-left: 19px;
  }
  .div1 h2{
    font-size: 24px;
  }
  button{
    margin-top: 10px;
    padding: 20px 35px;
  }
  .cardContent h2{
    font-size: 24px;
  }
  .venderParagrafo{
    font-size: 16px;
  }
  .cardContainer{
    flex-direction: column;
  }
  .card{
    padding: 4px 16px;
  }
  .cardParagrafo{
    width: 296px;
  }
  .cardBackground{
    padding: 20px 10px;
  }
  .sobreContainer{
    flex-direction: column-reverse;
    text-align: center;
  }
  .sobreContainer img{
    width: 320px;
  }
  .sobreTexto h2{
    font-size: 24px;
  }
  .sobreTexto button{
    font-size: 17px;
    padding: 20px 25px;
    margin-top: 10px;
  }
  .footerContainer{
    gap: 5px;
  }
  .footerLogo img{
    height: 34px;
  }
  .footerLogo p{
    font-size: 17px;
  }
  .footerPolitica a{
    font-size: 17px;
  }
}
@media screen and (max-width: 500px){
.footerContainer{
  flex-direction: column;
  text-align: center;
}
.footerContainer a{
  margin-top: 25px;
}
}
@media screen and (max-width: 355px){
  .div2 img{
    height: 200px;
    margin: 0;
  }
  .mainContainer{
    margin-left: 15px;
  }
  .div1 h2{
    font-size: 20px;
  }
  button{
    padding: 17px 30px;
  }
  .cardContent h2{
    font-size: 20px;
  }
  .venderParagrafo{
    font-size: 15px;
  }
  .cardContainer{
    gap: 5px;
  }
  .card{
    padding: 4px 12px;
  }
  .sobreContainer{
    margin-left: 15px;
  }
  .sobreContainer img{
    width: 272px;
  }
  .sobreTexto h2{
    font-size: 20px;
  }
  .sobreTexto p{
    font-size: 15px;
  }
  .sobreTexto button{
    font-size: 16px;
    padding: 19px 15px;
  }
}